@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{

    /** Custom Breakpoints */

    --breakpoint-sm: 64rem;
    --breakpoint-md: 76.8rem;
    --breakpoint-lg: 102.4rem;
    --breakpoint-xl: 128rem;
    --breakpoint-2xl: 140rem;

    /** Colors */
    --color-dark-02: #111111;
    --color-dark-03: #252432;
    --color-dark-04: rgba(0, 0, 0, 0.5);
    --color-dark-05: #8987A1;
    --color-dark-06: #6B7280;
    --color-bg-primary: #F5F8FF;
    --color-bg-secondary: #FAFCFF;
    --color-btn-primary: #E95A08;

    /* fonts */
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Noto Serif", serif; 

    /* animations */
    --animate-my-spin: my-spin 5.5s linear infinite alternate;
}

@layer base {
  
    *{
        font-family: var(--font-primary);
        font-style: normal;
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: 0.1rem;
    }

    html {
        font-size: 62.5%; /* For 1rem = 10px base */
    }

    h1,h2{
        font-weight: bold;
        font-family: var(--font-secondary);
    }

    h3{
        color: var(--color-dark-02);
    }

    li{
        list-style: none;
    }

    a{
        text-decoration: none;
    }

    li, a{
        font-weight: 600;
    }

    p{
        color: var(--color-dark-04);
    }

    @keyframes my-spin{
        0%{
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
        }

        98%{
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
        }

        100%{
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
        }
    }

}

@layer components{
    .btn{
        @apply border-none text-white font-semibold cursor-pointer;
        background-color: var(--color-btn-primary);
    }

    .bg-overlay{
        @apply bg-no-repeat relative bg-cover bg-center text-white overflow-hidden z-0;
    }

    .bg-overlay::before{
        content: '';
        @apply absolute inset-0 z-10;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .bg-overlay > *{
        @apply relative z-20;
    }
}